article{
    padding: 10px;
    font-size: 13pt;
}
article a{
    text-decoration: none;
}
.container{
    height: 400px;
    opacity: 1.0;
}
.carousel-caption{
    position: relative; top: -160px;left: -0px;
    height: 100px;
    border-right: solid 30px gold;
    width: 60%;
    background-color: rgba(255,255,255,0.7);
}
.carousel-caption h3{
    color: goldenrod;
    font-weight: 900;
    position: relative;
    top: -30px;
}
.carousel-inner{
    position: relative; top: -35px;
    height: 100%;
}
.carousel-caption p{
    position: relative; top: -35px;
    color: yellow;
    text-shadow: 1px 1px 1px black;
}
#myCarousel{
    background: rgb(255,255,255);
    opacity: 0.8;
    height: 100%;
}
.carousel-indicators{
    position: relative; top: 560px;
    left: 42%;
}
/*Category of news*/
.others{
    width: 100%;
    border-top:1px solid grey;
    border-bottom: 1px solid grey;
    border-left: 3px solid grey; 
    border-right: 3px solid grey;
    background-color: rgba(255,255,255,0.8);
    border-radius: 5px;
}
.others h2{
    font-style: italic;
    padding-left: 20px;
    text-shadow: 1px 1px 1px black;
}
/*Individual news article link*/
.indnews{
    border-top: solid 1px gray;
    width: 100%;
}
.indnews h3, .indnews p, .indnews h6{
    margin-top: 0px;
    margin-left: 3%;
    text-align: justify;
    width: 95%;
    color: #666600;
}
.indnews h3{
    font-weight: bold;
    color: teal;
    text-shadow: 1px 1px 1px black;
}
.indnews h6{
    color:black;
    font-weight: bold;
}
.indnews img{
    width: 100%;
    min-height: 150px;
}
.indnews .l{
    width: 20%;
}