body{
    background-image: url("../pic/back.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: 100%;
    background-color:rgb(40,200,60);
    color: teal;
    background-repeat: no-repeat;
    width: 100%;
    font-family: calibri;
    font-size: 13pt;
    min-width: 1348px;
    display: block;
}
/*a,a:hover{
    text-decoration: none;
    color: goldenrod;
}*/
header img{
    width: 100%;
    top: 0px;
    left: 0px;
    min-width: 100%;
    display: block;
    padding-bottom: 10px;
}
article{
    margin: auto;
    display: block;
    width: 60%;
    background-color: rgba(255,255,255,0.7);
}
aside{
    background-color: rgba(225,225,255,0.7)
}
.lft{
    float: left;
    margin-left: 10px;
    width: 18%;
    padding: 10px;
}
.lft table{
    width: 95%;
}
.lft a{
    width: 50px;
    padding-bottom: 20px;
    margin: auto;
    display: block;
}
.lft td{
    width: 80px;
}
.lft img{
    width: 50px;
    margin: auto;
    display: block;
}   
.lft .address{
    font-size: 8pt;
    text-align: left;
    padding-left: 10px;
}
.asdright{
    float: right;
    width: 18%;
    margin-right: 10px;
    font-size: 10pt;
    line-height: 15px;
    clear: right;
    
}
.asdright h4{
    color: teal;
    font-weight: bold;
    position: relative;
    left: -30%;
}
.asdright tr{
    border-bottom: 1px solid;
    height: auto;
}
.right{
    padding-bottom: 10px;
    padding-right: 10px;
}
.asdright a{
    color: darkgreen;
    font-weight: bolder;
}
.asdright a:hover{
    color: white;
}
.asdright img{
    margin: 10px;
    height: 100%;
    
}
.bros img{
   width: 80%;
}
.bros h4{
    color: darkgreen;
    font-weight: bold;
    padding-left: 30%;
}
footer{
    background-color: rgba(245,245,255,0.9);
    width: 100%;
    clear: both;
    height: 230px;
    margin-top: 10px;
}
footer .github img, .pshs img, .mi6 img{
    padding-top: 10px;
    height: 80px;
    padding-left: 10px;
}

footer b{
    color: blue; 
    font-size: 20pt; 
    line-height: 15pt;
}
footer .mi6 img{
    display: block;
    padding-left: 30%;
}
footer .mi6 p{
    left: -37%;
}
footer .github{
    padding-right: 10px;
    float: right;
}
footer .github img{
    padding-right: 10px;
    float: right;
    width:  80px;  
}
footer .pshs img{
    padding-left: 10px;
    padding-right: 10px;
    float: left;
    border-right: solid teal 2px;
}
footer .pshs p{
    height: 30px;
    padding-left: 10px;
    margin-top: 10px;
    padding-top: 8px;
    float: left;
    color: red;
    position: relative; top: -10px;
}
footer a{
    color: darkgreen;
}
.copyr{
    text-align: center;
    color: green;
    clear: both;
    position: relative; top: -75px;
    height: 0px;
}