article{
    padding: 15px;
    font-size: 16pt;
    background-color: rgba(255,255,255,0.8);
}
article p{
    text-indent: 30px;
}
article table tr td img{
    margin: auto;
    display: block;
    width: 380px;
    height: 300px;
}
article table{
    width: 100%;
}
article table th, td{
    text-align: center;
}
article table p{
    position: relative; left: -20px;
}
article h1{
    font-weight: normal;
    text-align: center;
}
article h3{
    text-align: center;
    background-color: rgba(255,255,255,0.8);
    position: relative;
    padding-top: 10px;
    border-bottom: 5px solid goldenrod;
    height: 50px;
    width: 380px;
    margin: auto;
    display: block;
}
article h1 b{
    font-weight: bolder;
    color: red;
}
article a b{
    color: red;
}
article a{
    color: brown;
}